<div class="topic">
        <div class="topic-contents">
          <p class="created_at">
            <%= topic.created_at %>
          </p>
          <p class="body">
            <%= topic.body %>
          </p>
        </div>
    </div>