<body style="background: linear-gradient(#F0F8FF, white);">
    <div id="login">
    <a href="/auth/twitter" class="tw">
      <div class="tw_login">
      <%= fa_icon "twitter" %>
      Twitterでログイン
      <%= fa_icon "twitter" %>
      </div>
    </a>
    <br>
    <a href="/auth/facebook" class="fb">
      <div class="fb_login">
      <%= fa_icon "facebook" %>
      Facebookでログイン
      <%= fa_icon "facebook" %>
      </div>
    </a>
  </div>
</body>
