<div id="login">
  <a href="/auth/twitter" class="tw">
    <div class="tw_login">
    <%= fa_icon "twitter" %>
    Twitterでログイン
    <%= fa_icon "twitter" %>
    </div>
  </a>
  <br>
  <a href="/auth/facebook" class="fb">
    <div class="fb_login">
    <%= fa_icon "facebook" %>
    Twitterでログイン
    <%= fa_icon "facebook" %>
    </div>
  </a>
</div>
